@model OrderAddRequest
@{
    ViewBag.Title = "Create order";
    ViewBag.CurrentUrl = "~/Owner/CreateOrder";
}

<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span>Owner Page</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Add new order into system</span>
        </div>
    </div>
</div>


<div class="form-container">
    <a asp-controller="Owner" asp-action="Index" class="link-hover">Back to Territories List</a>
    <h2 class="text-large">Add Order</h2>

    <form asp-controller="Owner" asp-action="CreateOrder" method="post">
        @*TypeOfService*@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label">Type of service</label>
            </div>
            <div class="flex-1">
                @{
                    string[] types = (string[])Enum.GetNames(typeof(ServiceTypeOptions));
                }
                @foreach (string type in types)
                {
                    <div>
                        <input type="radio" asp-for="TypeOfService" value="@type" class="ml" />
                        <label for="@type">@type</label>
                    </div>
                }
                <span asp-validation-for="TypeOfService" class="text-red"></span>
            </div>
        </div>
        @*SecurityLevel*@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label">Security level</label>
            </div>
            <div class="flex-1">
                @{
                    string[] types1 = (string[])Enum.GetNames(typeof(SecurityLevelOptions));
                }
                @foreach (string type in types1)
                {
                    <div>
                        <input type="radio" asp-for="SecurityLevel" value="@type" class="ml" />
                        <label for="@type">@type</label>
                    </div>
                }
                <span asp-validation-for="SecurityLevel" class="text-red"></span>
            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label">! Notice ! Higher type of service and security level set higher price of guard service</label>
            </div>
        </div>
        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Add new order</button>
                <div asp-validation-summary="All" class="text-red"></div>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}