@model IEnumerable<EquipmentResponse>
@{
    ViewBag.Title = "My Equipment";
    ViewBag.CurrentUrl = "~/Guard/MyEquipment";
}
<form asp-controller="Guard" asp-action="MyEquipment" method="get">
    <!--breadcrumb starts-->
    <div class="flex">
        <div class="flex-1">
            <div class="text-grey">
                <span>Guard Page</span>
                <i class="fa-solid fa-caret-right"></i>
                <span class="text-grey">My Equipment</span>
            </div>
        </div>
        <div class="flex-1 text-right">
            <a asp-controller="Guard" asp-action="AddEquipment" class="button-link button-blue-back ml">Add equipment</a>
        </div>
    </div>
    <!--breadcrumb ends-->
    <div class="table-container">
        <div class="flex">
            <div class="flex-1">
                <h1>My equipment</h1>
            </div>
            <div class="flex-3 text-right">
                <label>Search by:</label>
                <select class="search-dropdown" name="searchBy" style="width:200px">
                    @foreach (var field in ViewBag.SearchFields)
                    {
                        if (field.Key == ViewBag.CurrentSearchBy)
                        {
                            <option value="@field.Key" selected="selected">@field.Value</option>
                        }
                        <option value="@field.Key">@field.Value</option>
                    }
                    @* Eg: searchBy=PersonName&searchString=abc *@
                </select>
                <input type="search" id="Search" class="search-text" placeholder="Search" name="searchString" value="@ViewBag.CurrentSearchString" style="width:200px" />

                <button class="search-button">Search</button>
                <a asp-controller="Guard" asp-action="MyEquipment" class="ml link-hover">Clear all</a>
            </div>
        </div>

        <table class="table w-100 mt persons">
            <thead>
                <tr>
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(OrderResponse.TypeOfService)},
                    {"DisplayName", "Name"},
                    })
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(OrderResponse.SecurityLevel)},
                    {"DisplayName", "Type"},
                    })
                    <th>Options</th>

                </tr>
            </thead>
            <tbody>
                @foreach (EquipmentResponse equipment in Model)
                {
                    <tr>
                        <td style="width:25%">@equipment.Name</td>
                        <td style="width:25%">@equipment.Type</td>
                        <td style="width:25%">
                            <a asp-controller="Guard" asp-action="UnpinEquipment" asp-route-equipmentID="@equipment.Id" class="button-link button-red-back">Unpin equipment</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</form>