@model IEnumerable<GuardReportResponse>
@{
    ViewBag.Title = "Reports";
    ViewBag.CurrentUrl = "~/Guard/ViewReports";
}
<form asp-controller="Guard" asp-action="Index" method="get">
    <!--breadcrumb starts-->
    <div class="flex">
        <div class="flex-1">
            <div class="text-grey">
                <span>Guard Page</span>
                <i class="fa-solid fa-caret-right"></i>
                <span class="text-grey">Reports</span>
            </div>
        </div>
        <div class="flex-1 text-right">
            <a asp-controller="Guard" asp-action="CreateReport" asp-route-territoryID="@ViewBag.TerritoryId" class="button-link button-blue-back ml">Create a new report</a>
        </div>
    </div>
    <!--breadcrumb ends-->
    <div class="table-container">
        <div class="flex">
            <div class="flex-1">
                <h1>Reports</h1>
            </div>
            <div class="flex-3 text-right">
                <label>Search by:</label>
                <select class="search-dropdown" name="searchBy" style="width:200px">
                    @foreach (var field in ViewBag.SearchFields)
                    {
                        if (field.Key == ViewBag.CurrentSearchBy)
                        {
                            <option value="@field.Key" selected="selected">@field.Value</option>
                        }
                        <option value="@field.Key">@field.Value</option>
                    }
                    @* Eg: searchBy=PersonName&searchString=abc *@
                </select>
                <input type="search" id="Search" class="search-text" placeholder="Search" name="searchString" value="@ViewBag.CurrentSearchString" style="width:200px" />

                <button class="search-button">Search</button>
                <a asp-controller="Owner" asp-action="Index" class="ml link-hover">Clear all</a>
            </div>
        </div>



        <table class="table w-100 mt persons">
            <thead>
                <tr>
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(TerritoryResponse.Name)},
                    {"DisplayName", "Date"},
                    })
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(TerritoryResponse.Square)},
                    {"DisplayName", "Message"},
                    })
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(TerritoryResponse.Description)},
                    {"DisplayName", "Descriptions"},
                    })

                </tr>
            </thead>
            <tbody>
                @foreach (GuardReportResponse guardReportResponse in Model)
                {
                    <tr>
                        <td style="width:25%">@guardReportResponse.Date</td>
                        <td style="width:30%">@guardReportResponse.Message</td>
                        <td style="width:40%">@guardReportResponse.Descriptions</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</form>