@model IEnumerable<RankResponse>
@{
    ViewBag.Title = "Ranks";
    ViewBag.CurrentUrl = "~/Admin/Ranks";
}
<form asp-controller="Admin" asp-action="Ranks" method="get">
    <!--breadcrumb starts-->
    <div class="flex">
        <div class="flex-1">
            <div class="text-grey">
                <span>Admin Panel</span>
                <i class="fa-solid fa-caret-right"></i>
                <span class="text-grey">Territories</span>
            </div>
        </div>
    </div>
    <!--breadcrumb ends-->
    <div class="table-container">
        <div class="flex">
            <div class="flex-1">
                <h1>Ranks</h1>
            </div>
            <div class="flex-3 text-right">
                <label>Search by:</label>
                <select class="search-dropdown" name="searchBy" style="width:200px">
                    @foreach (var field in ViewBag.SearchFields)
                    {
                        if (field.Key == ViewBag.CurrentSearchBy)
                        {
                            <option value="@field.Key" selected="selected">@field.Value</option>
                        }
                        <option value="@field.Key">@field.Value</option>
                    }
                    @* Eg: searchBy=PersonName&searchString=abc *@
                </select>
                <input type="search" id="Search" class="search-text" placeholder="Search" name="searchString" value="@ViewBag.CurrentSearchString" style="width:200px" />

                <button class="search-button">Search</button>
                <a asp-controller="Admin" asp-action="Territories" class="ml link-hover">Clear all</a>
            </div>
        </div>



        <table class="table w-100 mt persons">
            <thead>
                <tr>
                    @await Html.PartialAsync("_TerritoriesHelper", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(RankResponse.Name)},
                    {"DisplayName", "Name"},
                    })
                    @await Html.PartialAsync("_TerritoriesHelper", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(RankResponse.PayPerHour)},
                    {"DisplayName", "PayPerHour"},
                    })
                    @await Html.PartialAsync("_TerritoriesHelper", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(RankResponse.Description)},
                    {"DisplayName", "Description"},
                    })
                    <th>Options</th>

                </tr>
            </thead>
            <tbody>
                @foreach (RankResponse rank in Model)
                {
                    <tr>
                        <td style="width:15%">@rank.Name</td>
                        <td style="width:10%">@rank.PayPerHour</td>
                        <td style="width:30%">@rank.Description</td>
                        <td style="width:15%">
                            <a asp-controller="Admin" asp-action="EditRank" asp-route-rankID="@rank.Id" class="button-link button-blue-back">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</form>